<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clima Cell</title>
</head>

<body>
    <span>
      <h1>How To Get the weather data for a specific location</h1>
      <h2>
        add to the current link this path"weather/data/" then write"lat=" then
        the latitude number for the location
      </h2>
      <h2>
        then write "&&" then write "lon=" then the longitude number for the
        location
      </h2>

      <h2>data link format</h2>
      <img src="../public/data1.png" alt="data format" />
      <h2>data link example</h2>
      <img src="../public/data2.png" alt="data example" />
    </span>
    <span>
      <h1>How To Get the weather summary for a specific location</h1>
      <h2>
        <h2>
          add to the current link this path "weather/summarize/" then write
        </h2>
        <h2>"lat=" and then latitude number for the location</h2>
        <h2>
          then write "&&" then write "lon=" then the longitude number for the
          location
        </h2>
      </h2>

      <h2>summary link format</h2>
      <img src="../public/summary1.png" alt="summary format" />
      <h2>summary link example</h2>
      <img src="../public/summary2.png" alt="summary example" />
    </span>
</body>

</html>